/* General */
body {
    background-color: #f6f6f8; /*#f6f6f8;*/
    color: black;
}

.content {
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}

table th {
  background-color: #D6EEEE;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.decorated-box {
    background-color: white;
    padding: 5px 15px;
    margin: 0px 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0, 0.2);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}



/* Main section */
.metric-container {
    margin: 30px 20px;
}

.metric-item {
    text-align: center;
    min-width: 150px;
}

.metric-value {
    font-size: 25px;
}

/* Main graphs container */

.main-graphs-container {
    margin: 30px 0px;
}



#recent-news-table {
    min-width: 800px;
}

#recent-news-table table {
    margin: 30px auto;
}
